.search-box .customSelect .caret {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAQAAACM2m15AAAAcElEQVQI12MIXRvqxoAVhIqEJjCEmoQ+Cw3EIikVei20HcTQCX0SGosmqRh6L7QaxlENvR+agSSpEfo4NBdZtVzo9dAyKNsQaF0Cul3ioRdCW4C0VejL0BBsLhUKPRm6OvR1qBcDDq/whx4MdUAWAQCweyGWlZHYkgAAAABJRU5ErkJggg==) no-repeat right center;
    width: 15px;
    height: 8px;
    border-top: none;
    margin-top: -5px;
}
.customSelect .selectedValue {
    padding: 3px 10px;
}
.search-box .customSelect .selectedValue {
    background-color: #d5d5d5;
    background-image: linear-gradient(to bottom, #d5d5d5, #d5d5d5);
    border: 1px solid #d5d5d5;
}
.search-box .customSelect .selectList {
    margin: 0;
    padding: 0;
}
.search-box .customSelect .selectList dl {
    background: #d5d5d5;
    height: 142px;
}
.search-box .customSelect .selected {
    color: #333 ;
    background-color: inherit;
    background-image: inherit;
}
.search-box .customSelect dd {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #666;
}
.search-box .customSelect .selectList dd.hovered {
    background: #333;
    color: #fff;
}
.search-box .customSelect .jspDrag {
    background-image: none;
    width: 5px;
    opacity: 0.6;
}
.search-box .customSelect {
    margin: 14px 0 17px 12px;
}
.customSelect {
    font-size: 11px;
}